<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Binding</title>
    <link rel="stylesheet" href="/css/estilo.css">
    <script src="/js/vue.min.js"></script>
</head>
<body class="exercicio">
    <div id="app">
      <p>1){{link}}</p> <!--Só mostrar o link completo -->
      <p>2) <a href="{{link}}">website</a> Cleude</p><!--Error ao ser redirecionado pra pagina-->
      <p>3)<a v-bind:href="link">Website</a> Cleude</p><!--Funciona o bind corretamente-->
      <p>4)<a :href="link2">Website</a>Wc_System</p><!--Resumindo o bind  melhor forma de aplicar-->
      <p>5) 
          <input type="text" v-model="nome"></br><!--Atualização dos dos lados com v-model-->
          <span>{{nome}}</span>
      </p>
    </div>

    <script>
        new Vue({
            el:"#app",
            data: {
                nome: "warley",
                link: "https://cleudecoutinho.vercel.app/",
                link2: "https://website-wc-system-five.vercel.app"
            },
            watch:{
                nome(novoValor){
                  console.log(novoValor.toUpperCase())//funçoes que responde ao chamado em uma mudançao 
                }
            }
        })
           
        
    </script>
</body>
</html>