<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Componente</title>
    <link rel="stylesheet" href="/css/estilo.css">
    <script src="/js/vue.min.js"></script>
</head>
<body class="exercicio">
    <div id="app">
        <saudacao nome="Warley"></saudacao>
        <saudacao nome="Cleude"></saudacao>
        <saudacao nome="Italo Yan"></saudacao>
        <saudacao nome="Victor Hugo"></saudacao>

    </div>

    <script>
        Vue.component('saudacao',{
            props: ['nome'],
            template: `
            <div>Bom dia {{nome}} !</div>
            `
        })


        new Vue({
            el: "#app",
            data: {

            }
        })
    </script>
</body>
</html>