<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Eventos</title>
    <link rel="stylesheet" href="/css/estilo.css" />
    <script src="/js/vue.min.js"></script>
  </head>
  <body class="exercicio">
    <div id="app">
      <p>{{ contador}}</p>
      <p>
        <button v-on:click="add">+1</button
        ><!--Metodo tradicional-->
        <button @click="contador -= 2">-2</button>
        <!--Meto mais pratico e pode fazer com implemetaçao pequenas se for o caso-->
      </p>
      <p @mousemove="atualizarPosicao">
          <!--Metodo ficar obesevando e esculdo algum objeto ex:   movimento do mause-->
        Cordenadas: {{x}} e {{y}}
        <span @mousemove.stop>Aqui Não</span>
        <!--Metodo para algum evento-->
      </p>
      <input type="text" @keyup.enter="alerta" />
       <!--função foi declara alerta ao teclar a tecla enter ou a tecla wue vc escolher disparar alerta-->
      
    </div>

    <script>
      new Vue({
        el: "#app",
        data: {
          x: 0,
          y: 0,
          contador: 0
        },
        methods: {
          add() {
            this.contador++;
          },
          atualizarPosicao(e) {
            this.x = e.clientX
            this.y = e.clientY
          },
          alerta() {
            alert("Voçê apertou a tecla: Enter !")
          }
        }
      })
    </script>
  </body>
</html>
