<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>if & For</title>
    <link rel="stylesheet" href="/css/estilo.css">
    <script src="/js/vue.min.js"></script>
</head>
<body class="exercicio">
    <div id="app">
        <p v-for="(aluno, i) in alunos"><!-- V-for repitição dentro do html-->
            {{i+1}} {{aluno.nome}} {{aluno.nota}}
            <span v-if="aluno.nota>=8"> Quadro de Honra</span>
            <span v-else-if="aluno.nota>=7"> Aprovado</span>   <!-- V-for usando if e else e elseif-->
            <span v-else-if="aluno.nota>=6">Recuperação</span>
            <span v-else-if="aluno.nota">Reprovado estudar mais</span>

        </p>

    </div>

    <script>
       new Vue({
           el:"#app",
           data:{
               alunos: [
                   {nome: "warley",nota: 9.8},
                   {nome: "cleude",nota: 7.8},
                   {nome: "Italo", nota: 6},
                   {nome: "Victor",nota: 5.9}

               ]
           }
       })
    </script>
</body>
</html>