<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <link rel="stylesheet" href="/css/estilo.css">
    <script src="/js/vue.min.js"></script>
</head>
<body class="exercicio">
    
    <div id="app"></div><!--Exemplo de como pode colocar o templante dento da Vue nesse modelo ai -->
    
    <script>
        new Vue({
            el:"#app",
            data:{
                titulo:"Warley e Lindo",
                subtitulo: "Deus é amor"
            },
            template: `
            <div>
               <h1>{{titulo}}</h1> 
               <h3>{{subtitulo}}</h3> 
            </div>
            
            `
        })
    </script>
</body>
</html>